<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Symfony & Vue.js - Stack of the Future</title>

        <link rel="stylesheet" href="{{ preload(asset('main.css')) }}">
    </head>
    <body>
        <h1>Symfony & Vue.js - Stack of the Future</h1>

        <main id="app">
            <switch-button label="Turn on the Future" />
        </main>

        <script src="{{ preload(asset('main.js')) }}"></script>
    </body>
</html>
